
/* Appliquer à tous les éléments */
* {

   font-weight: 100;
}

.main {
   
}

h1 {
    font-size: large;
}

.flexbox {
    border: solid 2 skyblue;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
}

/*flexbox sert à repartir de façon equitable les éléments */

/*style appliqué aux enfants contenus dans élément */

.flexbox ul {
   padding: O;
   display: flex;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /*centrer un élément unique*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/*GRID*/

.gridContainer {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid h1 {
    width: 80%;
    margin-top: 20px;
}

.form {
    display: grid;
    /* nombre de column (2 colonne d'1fr chacune*/
    grid-template-columns: 1fr 1fr;
        /* nombre de lignes (3 lignes d'1fr chacune*/
    grid-template-rows: 1fr 1fr 1fr;
        /* Positionnement*/
    grid-template-areas: 
        "i1 i2"
        "ta ta"
        "vi bt";
}

textarea {
    resize: none;
}

/*si enfant a une position absolute, la position parent doit etre relative*/
.absolute{
    position: relative;
}
.circle {
    background-color: rgb(255, 0, 51);
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 150px;
    top: 0;
    right: 0;
}∏

@media screen and(max-width : 100px) {
    .circle{
        background-color: blue;
    }
}
