<template>
 <h1>Salut</h1>
    <div class="main">
      <p>Hello, {greeting}!</p>
    </div>
    
    <div class="flexbox">
      <h2>Flexbox</h2>
      <ul>
        <li>Boite1</li>
        <li>Boite2</li>
        <li>Boite3</li>
        <li>Boite4</li>
      </ul>
    </div>


  <div class="grid">
    <h2>Grid</h2>
    <div class="gridContainer">
      <h1>LogoCss</h1>
      <div class="form" data-id="divform">
        <lightning-input
        label="FirstName"
        value={greeting}
        onchange={changeHandler}
      ></lightning-input>
      <lightning-input
        label="Name"
        onchange={changeHandler}
      ></lightning-input>
      <textarea id="story" name="story"
      rows="5" cols="50">
It was a dark and stormy night...
</textarea>
      <lightning-button variant="brand" label="Brand" title="Primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
    </div>
      
    </div>

    <div class="absolute">
      <h2>absolute</h2>
      <span class="circle"></span>
    </div>
  </div>
</template>
